* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: grey;
    font-family:sans-serif;
    background-image: url('image2.jpg');
    background-position: cover;
    background-size: center;
}

.app-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(9,1,0,0), rgba(6, 5, 2, 0.6));
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}
::placeholder{
    color:rgba(17, 10, 36, 0.452);
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(225, 225, 225, 0.479);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;

    color: #313131dc;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus{
    background-color:rgba(225, 225, 225, 0.622);
}

main{
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: larger;
}

.location .city{
    color:rgba(225, 225, 225, 0.932);
    text-shadow: 4px 3px rgba(0, 0, 0, 0.7) ;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px
}

.location .date{
    color:rgb(225, 225, 225);
    font-size: 18px;
    font-style: oblique;
}

.current .temp{
    color:rgb(225, 225, 225);
    font-size: 86px;
    font-weight: 600;
    margin: 30px 0px;
    text-shadow: 2px 7px rgba(0, 0, 0, 0.6) ;
}

.current .temp span{
    font-weight: 500;
}
.current .weather{
    color:rgb(225, 225, 225);
    text-shadow: 1px 3px rgba(0, 0, 0, 0.3);
    font-size: 26px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 15px
}

.current .hi-low {
    color:rgb(225, 225, 225);
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.3);
    font-style: inherit;
}

footer{
    text-align: center;
    font-size: 10px;
}